DirectoryIndex views/index.php

RewriteEngine On
RewriteBase /calc/

RewriteRule ^login$ views/login.php [L]
RewriteRule ^logout$ views/logout.php [L]
RewriteRule ^ftypeData$ views/ftypeForm.php [L]
RewriteRule ^userData$ views/userForm.php [L]